.article {
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 380px;
  max-height: 380px;
  width: 100%;
  border-radius: 1rem;
  margin: .75rem;


  &-link {
    display: block;
    width: 100%;
    text-decoration: none;
    //user-select: none;
  }

  &-info {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: inherit;
    height: 100%;

    &.bg-yellow {
      background-color: #ecc94b;
      color: #2d3748;
    }

    &.bg-blue {
      background-color: #4299e1;
      color: #FFFFFF;
    }

    &.bg-purple {
      background-color: #663399;
      color: #FFFFFF;
    }

  }

  &-bg {
    background: url(../../public/img/pat.png);
    height: 100%;
    width: 100%;
    background-size: 11rem;
    position: absolute;
    opacity: 0.07;
    top: 0;
    left: 0;
  }
}

.slick-dots {
  position: absolute;
  margin-left: .75rem;
  bottom: 0;
  display: block;
  width: 30%;
  padding: 0;
  list-style: none;
  text-align: left;
  transform: translate(0, -426px);

  li button:before {
    font-size: .75rem;
  }
}

