.menu-item {

  color: var(--color-title);
  border: none;
  height: 40px;
  padding: 6.4px 20px;
  border-radius: .5rem;
  font-size: .9rem;


  &.active {
    position: relative;
    font-weight: 900;
    color: #FBAF40 !important;

    &:before {
      content: '';
      position: absolute;
      width: 50%;
      right: 50%;
      transform: translateX(50%);
      bottom: -5px;
      height: 3px;
      border-radius: 1rem;
      background: #FBAF40 !important;
    }
  }

  &:hover {
    position: relative;
    color: var(--color-title);

    &:before {
      width: 50%;
      background: var(--color-title);

    }
  }

  &:before {
    content: '';
    position: absolute;
    width: 0;
    right: 50%;
    transform: translateX(50%);
    bottom: -5px;
    height: 3px;
    border-radius: 1rem;
    transition: width .3s;
  }
}

.switch-them {
  .ant-switch {
    border: 0;
    font-size: 1rem;
    color: #fff;
    width: 50px;
    height: 24px;
    background: linear-gradient(45deg, #3366FF, #AC15B8);

    &-checked {
      background: linear-gradient(45deg, #FF7D6B, #FFD64C);
    }

  }

}


.bi-list {
  margin-left: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-title);
}