[data-theme="light"] {
  --bg-color: #f0f2f5;
  --bg-navbar: #fff;
  --bg-footer: #fff;
  --color-title: #2d3748;
  --bg-box: #fff;
}

[data-theme="dark"] {
  --bg-color: #1a202c;
  --bg-navbar: #2d3748;
  --bg-footer: #2d3748;
  --color-title: #e2e8f0;
  --bg-box: #2d3748;
}